* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}

.grid {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    padding-top: 65px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    width: 25%;
    height: 300px;
    float: left;
    padding: 15px;

}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: red;
    box-shadow: 5px 5px 15px 0 blue;
}

.menu {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    height: 50px;

    padding: 0 5px;
    margin: 0 auto;
    align-items: center; 

}

.menu ul {
    list-style: none;
    display: block;
    align-items: center;

    padding: 15px;
    margin: 0 auto;

}

.menu ul li {
    float: left;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    height: 50px;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
    background: #333;
    width: 100%;
    top: 0;
    left: 0;
    

}

.sessao {
    height: 100vh;
    background: gray;
    padding: 0 30px;
    margin: 0 auto;
    padding-top: 60px;
}

/*
@media all and (max-width: 568px) {
    .grid .col{
        width: 100%;
    }
}
@media all and (min-width: 569px) and (max-width: 768px) {
    .grid .col{
        width: 50%;
    }
}
@media all and (min-width: 769px) and (max-width: 1198px) {
    .grid .col{
        width: 33,3%;
    }
}
@media all and (min-width: 770px) and (max-width: 1198px) {
    .grid .col{
        width: 25%;
    }
}